<div>
    <button class="btn" onclick='window.location="/"'>HOME</button>
    <h1 id="deleteStatus">
        {{{result.title}}} deleted successfully!
    </h1>
    <h3 id="itemID">{{{result._id}}}</h3>

    <div id="iteminfo">
        
    </div>

    <div class="error">
            <div id="errorlabel" class="errorLabel"></div>
    </div>

    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
    crossorigin="anonymous"></script>
    <script src="/public/js/item.js"></script>
</div>